* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services-hero {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( rgb(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgb(179, 123, 107)), url("src/assets/images/servicesBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}   

.services-content {
    position: absolute;
    top: 53%;
    left: 50%;
}

.services-content img {
    width: 181px;
    height: 6.6px;
}

.services-content h2 {
    font-size: 60px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}